@import "tailwindcss";

@theme {
  /* Шрифти */
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui;

  /* Твоя палітра кольорів з дизайну */
  --color-primary-600: #02ba3a;
  --color-primary-950: #003412;
  --color-primary-900: #0b5c26;
  --color-primary-700: #068f30;
  --color-primary-500: #0bdc4b;
  --color-primary-400: #35f36e;
  --color-primary-300: #77fe9f;
  --color-primary-100: CAE3D2;

  --color-gray-100: #161617;
  --color-gray-90: #1a1a1c;
  --color-gray-80: #29292a;
  --color-gray-70: #333436;
  --color-gray-60: #4c4c4d;
  --color-gray-50: #6D6D6E;
  --color-gray-40: #A2A2A3;
  --color-gray-20: #E3E4E5;
  --color-gray-0: #FCFDFF;

  /* Системні кольори */
  --color-error: #cf3c3c;
  --color-success: #3fc45c;
}

/* Фон за замовчуванням */
:root {
  background-color: var(--color-gray-100);
  color: var(--color-gray-0);
}

/* Гарний тонкий скролбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Дуже тонкий */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Фон доріжки прозорий */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333436; /* Твій колір gray-70 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4c4c4d; /* Твій колір gray-60 при наведенні */
}

/* Приховати стандартний скрол для Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333436 transparent;
}
/* Прибираємо стрілочки скролбару */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* Кастомний тонкий горизонтальний скролбар */
.horizontal-thin-scrollbar::-webkit-scrollbar {
  height: 3px; /* Висота смужки */
}

.horizontal-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Фон доріжки */
}

.horizontal-thin-scrollbar::-webkit-scrollbar-thumb {
  background: #29292a; /* Колір лінії (твій gray-80) */
  border-radius: 10px;
}

.horizontal-thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333436; /* Трохи світліше при наведенні (gray-70) */
}

/* Для Firefox */
.horizontal-thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #29292a transparent;
}
